
* {
    overflow-x: clip;
}


.resumer{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 200px;
}
.collection_img img{
    height: 450px;
    border-radius: 50px; 
    margin-top: 100px;
}
.collection p{
    padding-left: 100px;
    margin-right: 25px;
    font-size: 1.5rem;
}
.collection h1{
    font-size: 7rem;
    padding-left: 100px;
}




.jaguar{
    display: grid;
    grid-template-columns: 100% ;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.texte_jag p{
    font-size: 1.5rem;
    padding-left: 100px;
    margin-right: 900px;
    margin-top: -50px;
}
.texte_jag h1{
    font-size: 8rem;
    padding-left: 500px;
    margin-bottom: 300px;
    margin-right: -100px;
    margin-top: -320px;
    margin-right: -800px;    
    margin-top: -450px;
}
.jaguar img{
    height: 450px;
    border-radius: 50px; 
    margin-bottom: -100px;
    padding-left: 500px;
}





.ferrari{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 100%;
    margin-top: -150PX;
    margin-bottom: 100px;
}
.ferrari img{
    height: 450px;
    border-radius: 50px; 
    margin-top: -5px;
}
.ferrari p{
    padding-left: 200px;
    font-size: 1.5rem;
    margin-top: -200px;
    padding-left: 850px;
    margin-right: 50px;
}
.ferrari h1{
    font-size: 10rem;
    padding-left: 400px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: -120px;
}


 



.Coccinelle{
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: -200px;
}
.Coccinelle img{
    height: 850px;
    border-radius: 50px; 
    margin-left: 470px;
    margin-top: -750px;
}
.Coccinelle p{
    padding-top: 100px;
    padding-left: 100px;
    margin-right: 900px;    
    font-size: 1.5rem;
}
.Coccinelle h1{
    font-size: 10rem;
    padding-left: 500px;
    margin-right: -5000px;
    margin-top: -25px;
}







.golf{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 100px;
}
.golf img{
    height: 600px;
    border-radius: 50px; 
    margin-top: -565px;
}
.golf p{
    font-size: 1.5rem;
    padding-bottom: 200px;
    padding-left: 750px;
    margin-left: 140px;
    margin-right: 50px;

}
.golf h1{
    font-size: 10rem;
    margin-bottom: -10px;
    margin-bottom: 80px;
    padding-left: 520px;
}



.Porsche{
    margin-top: -150px;
    display: grid;
    grid-template-columns: 100%;
}
.Porsche img{
    height: 600px;
    border-radius: 50px; 
    margin-top: -565px;
    padding-left: 600px;
}
.Porsche p{
    font-size: 1.5rem;
    padding-left: 100px;
    margin-right: 770px;

}
.Porsche h1{
    font-size: 10rem;
    padding-left: 100px;
    padding-bottom: 50px;
}
